// This file was auto-generated by Fern from our API Definition.

import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import type { BaseClientOptions } from "../../../../BaseClient.js";
import * as environments from "../../../../environments.js";
import { ExternalSessionSocket } from "./Socket.js";

export declare namespace ExternalSession {
    interface Options extends BaseClientOptions {}

    interface ConnectArgs {
        headers?: Record<string, string | undefined>;
        debug?: boolean | undefined;
        reconnectAttempts?: number | undefined;
    }
}

export class ExternalSession {
    constructor(protected readonly _options: ExternalSession.Options = {}) {}

    public async connect(args: ExternalSession.ConnectArgs = {}): Promise<ExternalSessionSocket> {
        const { headers, debug, reconnectAttempts } = args;
        
        // Get API key for query parameter authentication (WebSocket fix)
        // Prefer networkApiKey, fall back to apiKey if not set
        const apiKeyValue = await core.Supplier.get(this._options.networkApiKey ?? this._options.apiKey);
        
        // Merge custom headers
        const _headers: Record<string, unknown> = mergeHeaders({}, headers);
        
        const socket = new core.ReconnectingWebSocket({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.ApolloEnvironment.Default)
                        .staging,
                "/ia-controller/api/v1/external/session",
            ),
            protocols: [],
            // WebSocket API requires API key as query parameter, not header
            queryParameters: {
                network_api_key: apiKeyValue,
            },
            headers: _headers,
            options: { debug: debug ?? false, maxRetries: reconnectAttempts ?? 30 },
        });
        return new ExternalSessionSocket({ socket });
    }
}
