{
  "openapi": "3.1.0",
  "info": {
    "title": "intelligent-agent-controller - External API",
    "version": "0.5.3",
    "description": "External API endpoints only"
  },
  "servers": [
    {
      "url": "https://azure.aui.io/api/ia-controller",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/v1/external/tasks": {
      "post": {
        "tags": [
          "controller_api"
        ],
        "summary": "Create Task",
        "operationId": "create_task",
        "parameters": [
          {
            "name": "x-network-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Network-Api-Key"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTaskResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "controller_api"
        ],
        "summary": "List User Tasks",
        "operationId": "list_user_tasks",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "User Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "title": "Size"
            }
          },
          {
            "name": "x-network-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Network-Api-Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTasksResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/external/tasks/{task_id}/messages": {
      "get": {
        "tags": [
          "controller_api"
        ],
        "summary": "Get Task Messages",
        "operationId": "get_task_messages",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Task Id"
            }
          },
          {
            "name": "x-network-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Network-Api-Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Message"
                  },
                  "title": "Response Get Task Messages"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/external/message": {
      "post": {
        "tags": [
          "controller_api"
        ],
        "summary": "Send Message",
        "operationId": "send_message",
        "parameters": [
          {
            "name": "is_external_api",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Is External Api"
            }
          },
          {
            "name": "x-network-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Network-Api-Key"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateTaskRequest": {
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User Id"
          }
        },
        "type": "object",
        "required": [
          "user_id"
        ],
        "title": "CreateTaskRequest"
      },
      "CreateTaskResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "user_id": {
            "type": "string",
            "title": "User Id"
          },
          "title": {
            "type": "string",
            "title": "Title"
          },
          "welcome_message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Welcome Message"
          },
          "followup_suggestions": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Followup Suggestions"
          }
        },
        "type": "object",
        "required": [
          "id",
          "user_id",
          "title",
          "welcome_message",
          "followup_suggestions"
        ],
        "title": "CreateTaskResponse"
      },
      "HTTPValidationError": {
        "properties": {
          "errors": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Errors"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ListTasksResponse": {
        "properties": {
          "tasks": {
            "items": {
              "$ref": "#/components/schemas/CreateTaskResponse"
            },
            "type": "array",
            "title": "Tasks",
            "default": []
          },
          "total": {
            "type": "integer",
            "title": "Total"
          },
          "page": {
            "type": "integer",
            "title": "Page"
          },
          "size": {
            "type": "integer",
            "title": "Size"
          }
        },
        "type": "object",
        "required": [
          "total",
          "page",
          "size"
        ],
        "title": "ListTasksResponse"
      },
      "Message": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "created_at": {
            "type": "string",
            "title": "Created At"
          },
          "text": {
            "type": "string",
            "title": "Text"
          },
          "sender": {
            "$ref": "#/components/schemas/MessageContactParty"
          },
          "receiver": {
            "$ref": "#/components/schemas/MessageContactParty"
          },
          "cards": {
            "items": {
              "$ref": "#/components/schemas/Card"
            },
            "type": "array",
            "title": "Cards"
          },
          "followup_suggestions": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Followup Suggestions"
          }
        },
        "type": "object",
        "required": [
          "id",
          "created_at",
          "text",
          "sender",
          "receiver",
          "cards",
          "followup_suggestions"
        ],
        "title": "Message"
      },
      "SubmitMessageRequest": {
        "properties": {
          "task_id": {
            "type": "string",
            "title": "Task Id"
          },
          "text": {
            "type": "string",
            "title": "Text"
          },
          "context": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Context"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "task_id",
          "text"
        ],
        "title": "SubmitMessageRequest"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "MessageContactParty": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "type": {
            "$ref": "#/components/schemas/Actor"
          },
          "email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Email"
          }
        },
        "type": "object",
        "required": [
          "id",
          "type"
        ],
        "title": "MessageContactParty"
      },
      "Card": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "parameters": {
            "items": {
              "$ref": "#/components/schemas/CardParameter"
            },
            "type": "array",
            "title": "Parameters"
          },
          "is_recommended": {
            "type": "boolean",
            "title": "Is Recommended"
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "parameters",
          "is_recommended"
        ],
        "title": "Card"
      },
      "Context": {
        "properties": {
          "url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Url"
          },
          "lead_details": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Lead Details"
          }
        },
        "type": "object",
        "required": [
          "url",
          "lead_details"
        ],
        "title": "Context"
      },
      "Actor": {
        "type": "string",
        "enum": [
          "user",
          "3p",
          "agent"
        ],
        "title": "Actor"
      },
      "CardParameter": {
        "properties": {
          "title": {
            "type": "string",
            "title": "Title"
          },
          "value": {
            "title": "Value"
          },
          "type": {
            "$ref": "#/components/schemas/ParameterType"
          }
        },
        "type": "object",
        "required": [
          "title",
          "value",
          "type"
        ],
        "title": "CardParameter"
      },
      "ParameterType": {
        "type": "string",
        "enum": [
          "boolean",
          "numeric",
          "string",
          "datetime",
          "date",
          "time",
          "object",
          "list_of_objects"
        ],
        "title": "ParameterType"
      }
    }
  }
}